* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url("images/bg-image.jpg") no-repeat center center/cover;
    position: absolute;
    top: -3px;
    left: -3px;
    height: calc(100vh + 6rem);
    width: calc(100vw + 6rem);
    filter: blur(70px);
    z-index: -1;
}

.loading-text {
    font-size: 4.5rem;
    color: #fff;
}