:root {
    --left-bg-color: rgba(87, 84, 236, .7);
    --right-bg-color: rgba(43, 43, 43, .7);
    --left-btn-hover-color: rgb(50, 50, 63, .8);
    --right-btn-hover-color: rgb(2, 22, 2, .8);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1 {
    font-family: 'Reggae One', cursive;
    font-size: 4rem;
    left: 50%;
    top: 40%;
    color: rgba(197, 197, 197, .8);
    position: absolute;
    transform: translateX(-50%);
    white-space: nowrap;
}

.btn {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: rgba(197, 197, 197, .8);
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    width: 15rem;
    padding: 1.5rem;
    border: rgba(197, 197, 197, .8) solid .1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.split.left .btn:hover {
    background-color: var(--left-btn-hover-color);
}

.split.right .btn:hover {
    background-color: var(--right-btn-hover-color);
}

.container {
    height: 100%;
    width: 100%;
    background-color: #333;
    position: relative;
}

.split {
    width: 50%;
    height: 100%;
    position: absolute;
}

.split.left {
    left: 0;
    background: url("images/ps.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.split.left::before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--left-bg-color);
}

.split.right {
    right: 0;
    background: url("images/xbox.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right::before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--right-bg-color);
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
    transition: all var(--speed) ease-in-out;
}

.hover-left .left {
    width: var(--hover-width);
    z-index: 2;
}

.hover-left .right {
    width: var(--other-width);
}

.hover-left .btn-right {
    width: 10rem;
    padding: 1.1rem; 
}

.hover-left .right-heading {
    font-size: 2rem;
}

.hover-right .btn-left {
    width: 10rem;
    padding: 1.1rem; 
}

.hover-right .left-heading {
    font-size: 2rem;
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
}

@media (max-width: 80rem) {
    h1 {
        font-size: 2rem;
    }

    .btn {
        width: 10rem;
        font-size:.8rem;
    }
}